[Desktop Entry]
Name=OpenVPN3-QT
Exec=/opt/openvpn3-qt/other/openvpn3-qt.sh
Icon=/opt/openvpn3-qt/other/openvpn3.png
Terminal=false
Type=Application
StartupWMClass=python3
StartupNotify=true
Comment=Open VPN - Virtual Private Network
MimeType=application/txt;application/x-openvpn-profile;
Categories=Network
